interface={{ lan_bridge_interface_name }}

domain={{ lan_bridge_dhcp_domain }}
local=/{{ lan_bridge_dhcp_domain }}/

{% for entry in lan_bridge_host_aliases -%}
{% for alias in entry.aliases -%}
address=/{{ alias }}/{{ entry.ip }}
{% endfor -%}
{% endfor %}

{% for br in lan_bridge_extra_nameservers -%}
server={{ br }}
{%- endfor %}

dhcp-range={{ lan_bridge_dhcp_range_start }},{{ lan_bridge_dhcp_range_end }},12h

{% for rsv in lan_bridge_dhcp_reservations -%}
dhcp-host={{ rsv.mac }},{{ rsv.ip }}
{%- endfor %}
