network:
  version: 2
  renderer: networkd
  bridges:
    {{ lan_bridge_interface_name }}:
      link-local: []
      addresses:
        - {{ lan_bridge_ip }}
      {%- if lan_bridge_slaves %}

      interfaces:
        {%- for iface in lan_bridge_slaves %}

        - {{ iface }}
        {% endfor %}
      {% endif %}
