*filter

:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]

:LOCAL_SERVICES - [0:0]
-A LOCAL_SERVICES -i {{ args_in.wan_nic }} -p tcp -m set --match-set TCPLOCALPORTS dst -j ACCEPT
-A LOCAL_SERVICES -i {{ args_in.wan_nic }} -p udp -m set --match-set UDPLOCALPORTS dst -j ACCEPT
-A LOCAL_SERVICES ! -i {{ args_in.wan_nic }} -p tcp -m set --match-set TCPOTHERPORTS dst -j ACCEPT
-A LOCAL_SERVICES ! -i {{ args_in.wan_nic }} -p udp -m set --match-set UDPOTHERPORTS dst -j ACCEPT

-A INPUT -i {{ args_in.wan_nic }} -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i {{ args_in.lan_nic }} -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -j LOCAL_SERVICES

-A FORWARD -i {{ args_in.wan_nic }} -m conntrack --ctstate RELATED,ESTABLISHED,DNAT -j ACCEPT
-A FORWARD -i {{ args_in.lan_nic }} -j ACCEPT

COMMIT

*nat

:PREROUTING ACCEPT [0:0]
:INPUT ACCEPT [0:0]
:POSTROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]

:PORTFWD - [0:0]
{% for rule in routing_portfwd_rules %}
-A PORTFWD -p {{ rule.protocol }} --dport {{ rule.local_port }} -j DNAT --to-destination {{ rule.remote_ip }}:{{ rule.remote_port }}
{% endfor %}

-A PREROUTING -i {{ args_in.wan_nic }} -j PORTFWD
-A POSTROUTING -o {{ args_in.wan_nic }} -j MASQUERADE

COMMIT

*mangle

:COMMONATTACKS_STATEFUL - [0:0]
-A COMMONATTACKS_STATEFUL -p tcp ! --syn -m state --state NEW -j DROP

:PREROUTING ACCEPT [0:0]
-A PREROUTING -i {{ args_in.wan_nic }} -j COMMONATTACKS_STATEFUL

COMMIT

*raw

:PUBLIC_IP_ONLY - [0:0]
-A PUBLIC_IP_ONLY -m addrtype --limit-iface-in ! --dst-type LOCAL -j DROP

:COMMONATTACKS_STATELESS - [0:0]
-A COMMONATTACKS_STATELESS -f -j DROP
-A COMMONATTACKS_STATELESS -m set --match-set SPOOFRANGES src -j DROP
-A COMMONATTACKS_STATELESS -p tcp --tcp-flags ALL ALL -j DROP
-A COMMONATTACKS_STATELESS -p tcp --tcp-flags ALL NONE -j DROP

:PREROUTING ACCEPT [0:0]
-A PREROUTING -i {{ args_in.wan_nic }} -j PUBLIC_IP_ONLY
-A PREROUTING -i {{ args_in.wan_nic }} -j COMMONATTACKS_STATELESS

COMMIT
