mtu 1492
user "{{ wan_chap_username }}"
noipdefault
usepeerdns
defaultroute
hide-password
lcp-echo-interval 20
lcp-echo-failure 3
noauth
persist
maxfail 0
noaccomp
default-asyncmap
linkname {{ wan_ppp_interface_name }}
ifname {{ wan_ppp_interface_name }}
local
nocrtscts
plugin rp-pppoe.so {{ wan_vlan_interface_name }}